.register_container {
  background-image: url(../../../../../assets/img/background-register-opacity.png);
  padding: 4rem;
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);

  .register-form-container {
    margin: auto;
    padding: 4rem;
    width: 50%;
    background: rgba(180, 147, 147, 0.4);
    border-radius: 0.5rem;
    color: #fff;

    h2 {
      font-size: 4rem;
      text-align: center;
    }
  }

  form {
    width: 70%;
    margin: 3rem auto;

    label {
      font-size: 1.5rem;
    }

    input,
    select {
      margin: 1rem 0rem;
      padding: 0.8rem;
      background: rgba(23, 18, 25, 0.9);
      border: none;
      color: #fff;
      font-size: 14px;
    }

    .captcha-box{
      margin-top: 1.8rem;
    }
  }

  #txtRol {
    display: none;
  }

  .draw-border {
    margin-top: 15px;
    width: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    color: rgb(221, 220, 220) !important;
    border: none;
    background: rgba(43, 33, 46, 0.6);
  }

  
@mixin btn-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.4s
) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: "";
      pointer-events: none;
      position: absolute;
      width: 0;
      height: 0;

      #{$vertical}: 0;
      #{$horizontal}: 0;
  }

  &::before {
      $h-side: if($horizontal == "left", "right", "left");

      border-#{$vertical}-width: $width;
      border-#{$h-side}-width: $width;
  }

  &::after {
      $v-side: if($vertical == "top", "bottom", "top");

      border-#{$v-side}-width: $width;
      border-#{$horizontal}-width: $width;
  }

  &:hover {
      color: $hover;
      background: #171219;
      
      transition: all 1s ease;

      &::before,
      &::after {
          border-color: $hover;
          transition: border-color 0s, width $duration, height $duration;
          border-radius: .2rem;
          width: 100%;
          height: 100%;
      }

      &::before {
          transition-delay: 0s, 0s, $duration;
      }

      &::after {
          transition-delay: 0s, $duration, 0s;
      }
  }
}

.draw-border {
  @include btn-border-drawing(#12021f, #4722ae, 3px, bottom, left);
  
}


}



@media screen and (max-width: 1000px) {
  
  .register-form-container{
    width: 90% !important;
  }


  form {
    width: 100% !important;
    margin: 0;

    .button-send {
      width: 100% !important;
    }
  }
}