.register_container {
  background-image: url(../../../../../assets/img/background-register-opacity.png);
  padding: 4rem;
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);

  .register-form-container {
    margin: auto;
    padding: 4rem;
    width: 50%;
    background: rgba(180, 147, 147, 0.4);
    border-radius: 0.5rem;
    color: #fff;

    h2 {
      font-size: 4rem;
      text-align: center;
    }
  }

  form {
    width: 70%;
    margin: 3rem auto;

    label {
      font-size: 1.5rem;
    }

    input,
    select {
      margin: 1rem 0rem;
      padding: 0.8rem;
      background: rgba(23, 18, 25, 0.9);
      border: none;
      color: #fff;
      font-size: 14px;
    }
  }

  #txtRol {
    display: none;
  }

  .button-send {
    margin-top: 15px;
    width: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    color: rgb(213, 210, 210);
    border: 0.5px solid rgb(89, 87, 87);
    border-radius: 0.5rem;
    background: #310d20b9;
  }
}

.button-send:hover {
  color: #fff !important;
  background: #310d20 !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 1000px) {
  
  .register-form-container{
    width: 90% !important;
  }


  form {
    width: 100% !important;
    margin: 0;

    .button-send {
      width: 100% !important;
    }
  }
}