<div class="register_container">
  <div class="register-form-container">
    <div class="title_container">
      <h2>Registro</h2>
    </div>
    <div class="row">

      <form [formGroup]="fgValidador" (ngSubmit)="RegistrarPersona()">
        <div class="form-group">
          <label>Correo</label>
          <input formControlName="correo" type="email" name="correo" class="form-control" placeholder="Correo"
            id="txtCorreo" required />
        </div>
        <div class="form-group">
          <label>Nombre</label>
          <input formControlName="nombre" type="text" name="nombre" class="form-control" placeholder="Nombre"
            id="txtNombre" required />
        </div>
        <div class="form-group">
          <label>Apellidos</label>
          <input formControlName="apellidos" type="text" name="apellidos" class="form-control" placeholder="Apellidos"
            id="txtApellidos" required />
        </div>
        <div class="form-group">
          <label>Dirección</label>
          <input formControlName="direccion" type="text" name="direccion" class="form-control" placeholder="Direccion"
            id="txtDireccion" required />
        </div>
        <div class="form-group">
          <label>Ciudad</label>
          <input formControlName="ciudad" type="text" name="ciudad" class="form-control" placeholder="Ciudad"
            id="txtCiudad" required />
        </div>
        <div class="form-group captcha-box">
          <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
          </ngx-recaptcha2>
        </div>
        <button class="btn draw-border" type="submit" value="Registrar">Registrar</button>
      </form>
    </div>
  </div>
</div>