<section>
    <div class="form-container">
        <div class="container contact-form">
            <h1>Afiliación de Mascotas</h1>
            <hr>

            <div class="row">

                <div class="container col-md-6">
                    <form [formGroup]="fgValidador" (ngSubmit)="RegistrarMascota()" action="https://formspree.io/f/xrgjzwzy" method="POST" id="my-form">
                        <div class="form-group">
                            <label for="txtNombre">Nombre</label>
                            <input formControlName="nombre" type="text" class="form-control" id="txtNombre" name="txtNombre"
                                placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="txtTipo">Tipo</label>
                            <select formControlName="tipo" class="form-select" id="txtTipo" name="txtTipo"
                                aria-label="Default select example" required>
                                <option [selected]="true" disabled>Selecciona: </option>
                                <option value="Canino">Canino</option>
                                <option value="Felino">Felino</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="txtRaza">Raza</label>
                            <input formControlName="raza" type="text" class="form-control" id="txtRaza" name="txtRaza"
                                placeholder="Raza" required>
                            <div class="form-group">
                                <label for="txtSexo">Sexo</label>
                                <select formControlName="sexo" class="form-select" id="txtSexo" name="txtSexo"
                                    aria-label="Default select example" required>
                                    <option [selected]="true" disabled>Sexo: </option>
                                    <option value="Canino">Macho</option>
                                    <option value="Felino">Hembra</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtImagen">Imagen</label>
                            <input formControlName="imagen" type="text" class="form-control" id="txtImagen" name="txtImagen"
                                placeholder="Imagen (URL)" required>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 dates-grid">
                                <div class="form-group">
                                    <label for="txtFecha">Fecha Nacimiento</label>
                                    <input formControlName="fecha" type="date" id="txtFecha" name="txtFecha"
                                        class="nacimiento-grid">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group dates-grid">
                                    <label for="txtFechaSolicitud">Fecha Solicitud</label><br>
                                    <input formControlName="fechaSolicitud" type="date" id="txtFechaSolicitud"
                                        name="txtFechaSolicitud" class="solicitud-grid">
                                </div>
                            </div>
                        </div>
                        <p class="center-align">
                            <button class="btn draw-border" type="submit">
                                Enviar Solicitud
                            </button>
                        </p>
                    </form>
                    <div id="status" class="success"></div>

                </div>

            </div>
        </div>

    </div>
</section>

<script src="../../../assets/js/main-inicio.component.js"></script>
