<div class="productos-container">

    <div class="container">
        <div class="row">

            <a routerLink="/administracion/crear-producto" class="new-product">Nuevo Producto</a>
            <form [formGroup]="fgValidador" (ngSubmit)=ObtenerListadoProductos()>
                <div class="topnav">
                    <input formControlName="value" type="text" placeholder="Buscar.." class="form-control">
                </div>
            </form>

            <div *ngFor="let p of listadoRegistros" class="col-sm-4">

                <div class="card card-block">

                    <img src="{{p.imagen}}">

                    <div class="card-block card-information">
                        <h4>{{p.nombre}}</h4>

                        <p class="product-description">{{p.descripcion}}</p>

                        <p class="product-ciudad">Ciudades donde se oferta el producto: <br>{{p.ciudad}}</p>

                        <p>Precio Regular: <br>$ {{p.precioRegular}}</p>

                        <p>Precio: <br>$ {{p.precioVenta}}</p>



                        <a routerLink="/administracion/editar-producto/{{p.id}}" class="edit-button">Editar</a>

                        <a href="#" class="buy-button">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--<table>
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio Regular
            </th>
            <th>
                Precio Venta
            </th>
            <th>
                Imagen
            </th>
            <th>
                Ciudad
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.descripcion}}
            </td>
            <td>
                {{p.precioRegular}}
            </td>
            <td>
                {{p.precioVenta}}
            </td>
            <td>
                <img src="{{p.imagen}}" alt="Productos Mascota Feliz">
            </td>
            <td>
                {{p.ciudad}}
            </td>
            <td>
                <a routerLink="/administracion/editar-producto/{{p.id}}">Editar</a>
            </td>
        </tr>
    </tbody>
</table>

-->