.productos-container {
    font-family: "Helvetica Neue", "Helvetica";
    background-image: linear-gradient(to right, #171219, #1c121d, #22111f, #2a1020, #310d20);

    .new-product {
        background: #112c46;
        margin: 2rem;
        padding: 1rem;
        font-size: 14px;
        text-align: center;
        border-radius: 0.5rem;
        width: 20%;
    }

    .form-control {
        width: 50%;
        margin: 0 1rem;
        padding: 0.7rem;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 12px;
    }

    .form-control::placeholder{
        font-size: 12px;
    }
}

.container {
    padding: 5rem;

    .card {
        background: rgb(30, 30, 30);
        margin: 3rem auto 1rem;
        width: 95%;
        border: 1px solid #6b6b6b;

        img {
            width: 100%;
            margin: 2rem auto;
        }

        p,
        h4 {
            text-align: center;
        }

        h4 {
            margin-top: 1rem;
        }

        .product-description {
            text-align: justify;
            padding: 1rem 2rem;
            font-size: 14px;
        }

        p {
            font-size: 18px;
        }

        .product-ciudad {
            font-size: 16px;
        }

        a:not(.product-regular){
            width: 80%;
            display: block;
            padding: 1rem;
            margin: 2rem auto 1rem;
            text-align: center;
            border-radius: 0.5rem;
            border: 1px solid #323232;
            font-size: 14px;
            font-weight: bold;
            color: #0f0f0f;
        }

    }

    .card-information {
        background: #0e0d0d;

        .edit-button {
            background: #225560b0;
        }

        .buy-button {
            background: #ebaf2eb0;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
}

.productos-container a:hover {
    color: rgb(226, 226, 226) !important;
}

.edit-button:hover {
    background: #225560 !important;
    border: 1px solid #fff !important;
    transition: all 0.7s ease;
}

.buy-button:hover {
    background: #ebaf2e !important;
    border: 1px solid #fff !important;
    transition: all 0.7s ease;
}

.new-product:hover{
    background: #215688 !important;
    transition: all 1s ease;
}