<section>
    <div class="form-container">
        <div class="container contact-form">
            <h1>Aprobación/Negación Solicitud</h1>
            <hr>

            <div class="row">

                <div class="col-md-6">
                    <img src="assets/img/dog-edit.jpg" alt="perro formulario" class="img-dog">
                </div>
                <div class="col-md-6">
                    <form [formGroup]="fgValidador" (ngSubmit)="EditarMascota()"
                        action="https://formspree.io/f/xdobnpwg" id="my-form">
                        <input type="hidden" formControlName="id">
                        <input type="hidden" formControlName="clienteId">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input formControlName="nombre" type="text" class="form-control" id="txtNombre"
                                placeholder="Nombre" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phone">Tipo</label>
                            <input formControlName="tipo" type="text" class="form-control" id="txtTipo"
                                placeholder="Tipo" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phone">Raza</label>
                            <input formControlName="raza" type="text" class="form-control" id="txtRaza"
                                placeholder="Raza" readonly>
                            <div class="form-group">
                                <label for="phone">Sexo</label>
                                <input formControlName="sexo" type="text" class="form-control" id="txtSexo"
                                    placeholder="Sexo" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Ciudad</label>
                            <input formControlName="ciudad" type="text" class="form-control" id="txtCiudad"
                                placeholder="Ciudad" readonly>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 dates-grid">
                                <div class="form-group">
                                    <label for="phone">Fecha Nacimiento</label>
                                    <input formControlName="fecha" type="date" id="txtFecha" name="fecha1"
                                        class="fas fa-calendar-day" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group dates-grid">
                                    <label for="phone">Fecha Solicitud</label>
                                    <input formControlName="fechaSolicitud" type="date" id="txtFechaSolicitud"
                                        name="fecha1" class="fas fa-calendar-day" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Imagen</label>
                            <input formControlName="imagen" type="text" class="form-control" id="txtImagen"
                                placeholder="Imagen" readonly>
                        </div>
                        <label for="status">Estado de la solicitud</label>
                        <select formControlName="estado" class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="Aceptado">Aceptado</option>
                            <option value="Rechazado">Rechazado</option>
                            <option value="Pendiente">Pendiente</option>
                        </select>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="center-align">
                                    <button [disabled]="!fgValidador.valid" class="waves-effect waves-light btn update-status"
                                        type="submit">Actualizar Estado </button>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <a class="btn delete-button" (click)="delete()">Borrar</a>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="fgValidadorSolicitud" (ngSubmit)="CrearSolicitudAfiliacion()">
                        <div class="form-group">
                            <label for="phone">Comentario</label>
                            <input formControlName="comentario" type="text" class="form-control comentary-form" id="txtComentario"
                                required>
                        </div>
                        <button [disabled]="!fgValidador.valid" type="button" type="submit"
                            class="send-commentary">Enviar Comentario</button>
                    </form>
                    <div class="return-button">
                        <a routerLink="/administracion/mascotas/buscar-mascota" class="ancla">Regresar</a>
                    </div>
                    <div id="status" class="success"></div>
                </div>
            </div>
        </div>

    </div>
</section>