<div class="solicitud-container">
    <div class="container">
        <h1>RESPUESTA SOLICITUDES</h1>
        <form [formGroup]="fgValidador" id="my-form">
            <div class="form-group">
                <label for="name">Nombre Mascota</label>
                <input formControlName="petName" type="text" class="form-control" id="petName" readonly>
            </div>
            <div class="form-group">
                <label for="name">Estado</label>
                <input formControlName="estado" type="text" class="form-control" id="estado" readonly>
            </div>
            <div class="form-group">
                <label for="name">Comentario</label>
                <textarea formControlName="comentario" type="text" class="form-control" id="comentario" name="message" rows="6" readonly></textarea>
            </div>
        </form>
    </div>
</div>