
    <h1>RESPUESTA SOLICITUDES</h1>
    <form [formGroup]="fgValidador" action="https://formspree.io/f/xdobnpwg" id="my-form">
        <input type="hidden" formControlName="id">
           <div class="form-group">
               <label for="name">Nombre Mascota</label>
               <input formControlName="petName" type="text" class="form-control" id="txtNombre" readonly>
           </div>
           <div class="form-group">
            <label for="name">Estado</label>
            <input formControlName="estado" type="text" class="form-control" id="txtApellidos" readonly>
        </div>
        <div class="form-group">
            <label for="name">Comentario</label>
            <input formControlName="comentario" type="text" class="form-control" id="txtEmail" readonly>
        </div>
    </form>
