<div class="create-product-container">
    <div class="container">
        <div class="row">
            <form [formGroup]="fgValidate" (ngSubmit)="EditarProducto()" action="">

                <input type="hidden" formControlName="id">

                <div class="form-group">
                    <label for="nombre">Nombre del producto</label>
                    <input formControlName="nombre" type="text" name="nombre" class="form-control" placeholder="Nombre"
                        id="txtnombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">descripción del producto</label>
                    <input formControlName="descripcion" type="text" name="descripcion" class="form-control"
                        placeholder="Descripción" id="txtdescripcion" required>
                </div>
                <div class="form-group">
                    <label for="precioRegular">Precio regular del producto</label>
                    <input formControlName="precioRegular" type="number" name="precioRegular" class="form-control"
                        placeholder="Precio Regular ($COP)" id="txtprecioRegular" required>
                </div>
                <div class="form-group">
                    <label for="precioVenta">Precio de venta del producto</label>
                    <input formControlName="precioVenta" type="number" name="precioVenta" class="form-control"
                        placeholder="Precio Venta ($COP)" id="txtprecioVenta" required>
                </div>
                <div class="form-group">
                    <label for="ciudad">Ciudad donde se oferta el producto</label>
                    <input formControlName="ciudad" type="text" name="ciudad" class="form-control" placeholder="Ciudad"
                        id="txtCiudad" required>
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen del producto</label>
                    <input formControlName="imagen" type="text" name="imagen" class="form-control" placeholder="Ciudad"
                        id="txtImagen" required>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <a class="btn delete-button" (click)="delete()">Borrar</a>
                    </div>
                    <div class="col-lg-6">
                        <button [disabled]="!fgValidate.valid" class="btn draw-border" type="submit"
                            value="Registrar">Actualizar</button>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>