<html>
<div>
    <h1>Lista Solicitudes</h1>
    <table class="table responsive">
        <thead>
            <tr>
                <th>
                    Detalles Usuario
                </th>
                <th>
                    Fecha de Solicitud
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Editar Estado
                </th>
                <th>
                    Foto Mascota
                </th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let m of listadoMascotas">
                <td>
                    <a routerLink="/administracion/personas/buscar-persona" type="btn">Detalles</a>
                </td>
                <td>
                    {{m.fechaSolicitud}}
                </td>
                <td>
                    {{m.estado}}
                </td>
                <td>
                    <a routerLink="/administracion/mascotas/editar-mascota/{{m.id}}" type="btn">Editar</a>
                </td>
                <td>
                    <img src="{{m.imagen}}" class="imagenMascota">
                </td>

            </tr>
        </tbody>
    </table>
</div>

</html>