<h3>LISTADO CLIENTES</h3>
 <div class="topnav">
    <input formControlName="filtro" type="text" placeholder="Search..">
  </div>
  
<table class="table responsive">
    <thead>
        <tr>
        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Correo
        </th>
        <th>
            Direccion
        </th>
        <th>
            Ciudad
        </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of listadoCliente">
            <td>
                {{c.nombre}}
            </td>
            <td>
                {{c.apellidos}}
            </td>
            <td>
                {{c.email}}
            </td>
            <td>
                {{c.direccion}}
            </td>
            <td>
                {{c.ciudad}}
            </td>
        </tr>

    </tbody>
</table>
