.detalles-container {
    padding: 5rem;
    color: #fff;
    background-image: linear-gradient(to left top, #171219, #211622, #2c182b, #3a1932, #481937, #481937, #481937, #481937, #3a1932, #2c182b, #211622, #171219);
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);

    .container {
        background: rgba(0, 0, 0, 0.6);
        padding: 6rem 3rem;
        border-radius: 0.7rem;
    }

    form {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        margin-bottom: 3rem;
        margin-left: 5rem;
    }

    input {
        border: 1px solid #ccb3cc;
        padding: 5px;
        background: rgba(0, 0, 0, 0.6);
        margin-bottom: 8px;
        color: #fff;
        font-size: 14px;
        margin-bottom: 3rem;
    }

    label {
        font-size: 14px;
        margin-bottom: 1rem;
    }
}
