<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" routerLink="/inicio">
				<img src="assets/img/mascFeliz-logo.png" alt="Mascota Feliz Logo" class="d-inline-block align-text-top">
			</a>
			<a id="logo-text" routerLink="/inicio">Mascota feliz</a>
			<button class="navbar-toggler ml-auto custom-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<!--<a *ngIf="seInicioSesion" class="nav-link" routerLink="#">Usuarios</a>-->
					<a *ngIf="!seInicioSesion" class="nav-link" routerLink="/administracion/listar-productos">Servicios</a>
					<a *ngIf="seInicioSesion" class="nav-link" routerLink="/administracion/listar-productos">Servicios</a>
					<a *ngIf="seInicioSesion" class="nav-link" routerLink="/administracion/mascotas/crear-mascota">Solicitar afiliación</a>
					<a *ngIf="seInicioSesionAdmin" class="nav-link" routerLink="/administracion/mascotas/buscar-mascota">Solicitudes</a>
					<!--<a *ngIf="seInicioSesionAdmin" class="nav-link" routerLink="#">Crear Servicios</a> -->
					<a *ngIf="seInicioSesionAdmin" class="nav-link" routerLink="/administracion/personas/buscar-persona">Ver Clientes</a>
					<a *ngIf="seInicioSesionAdmin" class="nav-link" routerLink="/administracion/empleados/crear-empleado">Crear Asesor</a>
					<a *ngIf="seInicioSesion" class="nav-link" routerLink="/administracion/solicitud-afiliacion">Mis Solicitudes</a>
					<!--<a *ngIf="seInicioSesion" class="nav-link" routerLink="#">Informes</a>-->


					<div class="dropdown">
						<a class="nav-link lock dropdown-toggle" id="dropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" href="#">
							<span class="material-icons md-48" id="sign-icon">lock_open</span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<li *ngIf="!seInicioSesion && !seInicioSesionAdmin" ><a class="dropdown-item" routerLink="/seguridad/identificar">Sign In</a></li>
							<li *ngIf="!seInicioSesion && !seInicioSesionAdmin" ><a class="dropdown-item" routerLink="/administracion/personas/crear-persona">Sign Up</a></li>
							<li *ngIf="seInicioSesion"><a *ngIf="seInicioSesion" class="nav-link"
									routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a>
							</li>
							
							<li *ngIf="seInicioSesionAdmin"><a *ngIf="seInicioSesionAdmin" class="nav-link"
								routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a>
							</li>

						</ul>
					</div>
					<a class="nav-link" id="sign-responsive" routerLink="/seguridad/cerrarSesion">Sign In / Sign Up</a>

				</div>
			</div>
		</div>
	</nav>


</header>