<div class="productos-container">
    
    <a routerLink="/administracion/planes/crear-plan" class="new-product" *ngIf="!seInicioSesion && noSeInicioSesion">Nuevo Plan</a>

    <div class="container">
        <div class="row">

            <div *ngFor="let p of listadoPlanes" class="col-sm-4">

                <div class="card card-block">

                    <div class="card-block card-information">

                        <h4>{{p.nombre}}</h4>

                        <p class="plan-description">{{p.descripcion}}</p>

                        <p class="product-ciudad">Ciudades donde se oferta el producto: <br>{{p.ciudad}}</p>

                        <p *ngIf="seInicioSesion">Precio: <br>$ {{p.precio}}</p>

                        <a *ngIf="!seInicioSesion && noSeInicioSesion" routerLink="/administracion/planes/editar-plan/{{p.id}}" class="edit-button">Editar Plan</a>

                        <a href="#" class="buy-button">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>