<footer>

    <div class="footer-container">
        <div class="footer-left">
            <h4 class="footer-tittle"><a href="#" class="logo">Mascota Feliz</a></h4>
            <ul>
                <li class="list-links"><a class="footer-links" id="special-footer-link" href="#">Home</a></li>
                <li class="list-links"><a class="footer-links" href="#">Agent</a></li>
                <li class="list-links"><a class="footer-links" href="#">About</a></li>
                <li class="list-links"><a class="footer-links" href="#">Listing</a></li>
                <li class="list-links"><a class="footer-links" href="#">Blog</a></li>
                <li class="list-links"><a class="footer-links" href="#">Contact</a></li>
            </ul>
            <p class="copyright">© Mascota Feliz - Developed with <ion-icon name="heart" id="heart-icon"></ion-icon> by
                <a id="brand"> InMotion</a>
            </p>
        </div>
        <div class="footer-right">
            <ul>
                <li><a href="#" class="social-media">
                        <ion-icon name="logo-facebook" id="icon-facebook" class="icon-media"></ion-icon>
                    </a></li>
                <li><a href="#" class="social-media">
                        <ion-icon name="logo-instagram" id="icon-instagram" class="icon-media"></ion-icon>
                    </a></li>
                <li><a href="#" class="social-media">
                        <ion-icon name="logo-twitter" id="icon-twitter" class="icon-media"></ion-icon>
                    </a></li>

            </ul>
        </div>
    </div>

</footer>