footer{
    background: radial-gradient(#171219, #000);
    border-top: 1px solid rgba(49, 13, 32, 0.5);
    border-bottom: 1px solid rgba(49, 13, 32, 0.5);
}

.footer-container{
    position: relative;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 3rem 0rem 1rem;

    ul{
        list-style: none;
        overflow: hidden;
        
    }

    .list-links{
        float: left;
    }

    .list-links a{
        display: block;
    }

    a:not(.logo){
        font-size: 2rem;
    }

    h4{
        font-family: 'Kalam', cursive;
        margin-bottom: 2rem;

    }

    .footer-left{
        flex: 2;
    }

    .footer-right{
        text-align: center;
        
    }

    .footer-links{
        margin: 2rem 2rem;
        
    }

    #special-footer-link{
        margin-left: -2rem;
    }

    p, #brand{
        font-size: 1.5rem;
        margin-top: 7rem;

    }

    .icon-media{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    #heart-icon{
        font-size: 1.3rem;
        color: #c0130d;

    }

}

#brand:hover{
    color: #225560;
    font-weight: bold;
}

.logo:hover{
    color: #fff;
}

a:not(.logo, .social-media):hover{
    color: #dac23d;
}

#icon-facebook:hover{
    color: #4267B2;
}

#icon-instagram:hover{
    color: #E1306C;
}

#icon-twitter:hover{
    color: #1DA1F2;
}


@media screen and (max-width: 804px){
    .footer-container{
        flex-direction: row;

        .list-links{
            display: block;
            float:none;
            margin-left: -4rem;
        }

        #special-footer-link{
            margin-left: 2rem;
        }

        #icon-facebook{
            margin-top: 1.3rem;
        }
    }
}