.asesor-register_container {
  background-image: linear-gradient(
    to left bottom,
    #310d20,
    #2b0f21,
    #261120,
    #21121f,
    #1c121d,
    #1c121d,
    #1c121d,
    #1c121d,
    #21121f,
    #261120,
    #2b0f21,
    #310d20
  );
  .area {
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;

    z-index: -1;
  }

  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 136.5%;
    overflow: hidden;
  }

  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(128, 126, 126, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
  }

  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }

  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }

  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }

  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }

  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }

  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }

  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }

    100% {
      transform: translateY(-1275px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }
}

.register_container {
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
  padding: 4rem 0;

  .register-form-container {
    margin: auto;
    padding: 4rem;
    width: 50%;
    background: rgba(41, 39, 39, 0.4);
    border-radius: 0.5rem;
    color: #fff;
    border: 1px solid #323232;

    h2 {
      font-size: 4rem;
      text-align: center;
    }
  }

  form {
    width: 70%;
    margin: 3rem auto;
    z-index: 5;


    label {
      font-size: 1.5rem;
    }

    input{
      margin: 1rem 0rem;
      padding: 0.8rem;
      background: rgba(185, 168, 185, 0.9);
      border: none;
      color: #000;
      font-size: 14px;
      
    }

    .captcha-box {
      margin-top: 1.8rem;
    }
  }

  #txtRol {
    display: none;
  }

  .draw-border {
    margin-top: 17px;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: rgb(221, 220, 220) !important;
    border: none;
    background: rgba(43, 33, 46, 0.6);
  }

  @mixin btn-border-drawing(
    $color: #ccc,
    $hover: black,
    $width: 2px,
    $vertical: top,
    $horizontal: left,
    $duration: 0.4s
  ) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;

    &::before,
    &::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: "";
      pointer-events: none;
      position: absolute;
      width: 0;
      height: 0;

      #{$vertical}: 0;
      #{$horizontal}: 0;
    }

    &::before {
      $h-side: if($horizontal == "left", "right", "left");

      border-#{$vertical}-width: $width;
      border-#{$h-side}-width: $width;
    }

    &::after {
      $v-side: if($vertical == "top", "bottom", "top");

      border-#{$v-side}-width: $width;
      border-#{$horizontal}-width: $width;
    }

    &:hover {
      color: $hover;
      background: #171219;

      transition: all 1s ease;

      &::before,
      &::after {
        border-color: $hover;
        transition: border-color 0s, width $duration, height $duration;
        border-radius: 0.2rem;
        width: 100%;
        height: 100%;
      }

      &::before {
        transition-delay: 0s, 0s, $duration;
      }

      &::after {
        transition-delay: 0s, $duration, 0s;
      }
    }
  }

  .draw-border {
    @include btn-border-drawing(#12021f, #4722ae, 3px, top, left);
  }
}

input::placeholder{
  color:rgb(22, 22, 22);
}



@media screen and (max-width: 1000px) {
  .register-form-container {
    width: 90% !important;
  }

  form {
    width: 100% !important;
    margin: 0;

    .button-send {
      width: 100% !important;
    }
  }
}