<div class="form-container">
    <div class="container login-form">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/login-picture.jpg" class="image-login">
            </div>

            <div class="col-md-6 form-login">
                <form [formGroup]="fgValidador" (ngSubmit)="IdentificarUsuario()">
                    
                        <div class="login-media">
                            <p>Iniciar sesion con</p>
                            <ul>
                                <li class="facebook"><a href="#" class="social-media">
                                        <ion-icon name="logo-facebook" id="icon-facebook" class="icon-media"></ion-icon>
                                    </a></li>
                                <li><a href="#" class="social-media">
                                        <ion-icon name="logo-google" id="icon-google" class="icon-media"></ion-icon>
                                    </a></li>
                                <li><a href="#" class="social-media">
                                        <ion-icon name="logo-linkedin" id="icon-linkedin" class="icon-media"></ion-icon>
                                    </a></li>
                
                            </ul>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label>Correo Electronico</label>
                            <input formControlName="usuario" class="form-control" type="text" name="email"
                                placeholder="Enter a valid email address">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input formControlName="clave" class="form-control" type="password" name="password"
                                placeholder="Enter password">
                        </div>
                        <div class="login-button">
                            <button [disabled]="!fgValidador.valid" type="submit" class="btn-login">Login</button>
                        </div>
                        <div class="form-group forgot-password">
                            <a href="#">Forgot Password?</a>
                        </div>
                        <div> <small class="">Don't have an account?
                                <a class="register-button">Register</a></small>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>