
.form-container{
    background: radial-gradient(#323232, #000000);
    padding: 10rem;
    margin: auto;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;

    .login-media{
        p{
            font-size: 16px;
        }

        ul{
            padding-left: 0px;
            li:not(.facebook){
                list-style: none;
                display: inline;
                padding: 0rem 1rem;
            }

            .facebook{
                list-style: none;
                display: inline;
                padding: 0rem 1rem 0rem 0rem;
            }
        }
    }

    .row{
        --bs-gutter-x: 0rem;
        border: 1px solid rgba(255, 255, 255, 0.454);
    }

    .login-form{
        padding: 0rem;

        .form-login{
            background: #171219;
            padding: 3rem 2rem;            
        }

    }


    form{
        width: 90%;
        margin: 0px auto;

        label{
            font-size: 1.5rem;
            margin: 1rem 0rem;
        }

        input{
            padding: .8rem;
            font-size: 1.5rem;
            background: transparent;
            color: #fff;
        }

        .forgot-password{
            margin: 1.2rem 0rem;

        }

        .login-button{
            margin: 1.2rem 0rem;

            button{
                padding: 1rem 4.7rem;
                border: none;
                border-radius: .5rem;
                color: #fff;
                background: #225560;
            }
        }
    }

    .image-login{
        width: 110%;
        height: 100%;
    }

}


//hover effects

.forgot-password a:hover{
    color: #dac23d;
}

#icon-facebook:hover{
    color: #4267B2;
}

#icon-google:hover{
    color: #DB4437;
}

#icon-linkedin:hover{
    color: #0077B5;
}

button[disabled]:hover{
    color: #2255a3;
}

input:focus{
    box-shadow: none;
    outline-offset: 0px;
    outline: none;
}

.register-button:hover{
    color: #97a5ba;
    cursor: pointer;
}


@media screen and (max-width: 767px) {
    .image-login{
        width: 100% !important;
    }
}

